In [75]:
import requests, pandas as pd
from io import StringIO

timePeriod = "tm1=20250101&tm2=20250308"
authKey = "dKBh3IZjQFygYdyGY1BcLw"
url = f"https://apihub.kma.go.kr/api/typ01/url/kma_sfcdd3.php?{timePeriod}&stn=108&help=1&authKey={authKey}"

dataObject = requests.get(url)

In [76]:
colnames = {
    "TM":           "관측일 (KST)",
    "STN":          "국내 지점번호",
    "WS_AVG":       "일 평균 풍속 (m/s)",
    "WR_DAY":       "일 풍정 (m)",
    "WD_MAX":       "최대풍향",
    "WS_MAX":       "최대풍속 (m/s)",
    "WS_MAX_TM":    "최대풍속 시각 (시분)",
    "WD_INS":       "최대순간풍향",
    "WS_INS":       "최대순간풍속 (m/s)",
    "WS_INS_TM":    "최대순간풍속 시각 (시분)",
    "TA_AVG":       "일 평균기온 (C)",
    "TA_MAX":       "최고기온 (C)",
    "TA_MAX_TM":    "최고기온 시각 (시분)",
    "TA_MIN":       "최저기온 (C)",
    "TA_MIN_TM":    "최저기온 시각 (시분)",
    "TD_AVG":       "일 평균 이슬점온도 (C)",
    "TS_AVG":       "일 평균 지면온도 (C)",
    "TG_MIN":       "일 최저 초상온도 (C)",
    "HM_AVG":       "일 평균 상대습도 (%)",
    "HM_MIN":       "최저습도 (%)",
    "HM_MIN_TM":    "최저습도 시각 (시분)",
    "PV_AVG":       "일 평균 수증기압 (hPa)",
    "EV_S":         "소형 증발량 (mm)",
    "EV_L":         "대형 증발량 (mm)",
    "FG_DUR":       "안개 계속시간 (hr)",
    "PA_AVG":       "일 평균 현지기압 (hPa)",
    "PS_AVG":       "일 평균 해면기압 (hPa)",
    "PS_MAX":       "최고 해면기압 (hPa)",
    "PS_MAX_TM":    "최고 해면기압 시각 (시분)",
    "PS_MIN":       "최저 해면기압 (hPa)",
    "PS_MIN_TM":    "최저 해면기압 시각 (시분)",
    "CA_TOT":       "일 평균 전운량 (1/10)",
    "SS_DAY":       "일조합 (hr)",
    "SS_DUR":       "가조시간 (hr)",
    "SS_CMB":       "캄벨 일조 (hr)",
    "SI_DAY":       "일사합 (MJ/m2)",
    "SI_60M_MAX":   "최대 1시간일사 (MJ/m2)",
    "SI_60M_MAX_TM": "최대 1시간일사 시각 (시분)",
    "RN_DAY":       "일 강수량 (mm)",
    "RN_D99":       "9-9 강수량 (mm)",
    "RN_DUR":       "강수 계속시간 (hr)",
    "RN_60M_MAX":   "1시간 최다강수량 (mm)",
    "RN_60M_MAX_TM":"1시간 최다강수량 시각 (시분)",
    "RN_10M_MAX":   "10분간 최다강수량 (mm)",
    "RN_10M_MAX_TM":"10분간 최다강수량 시각 (시분)",
    "RN_POW_MAX":   "최대 강우강도 (mm/h)",
    "RN_POW_MAX_TM":"최대 강우강도 시각 (시분)",
    "SD_NEW":       "최심 신적설 (cm)",
    "SD_NEW_TM":    "최심 신적설 시각 (시분)",
    "SD_MAX":       "최심 적설 (cm)",
    "SD_MAX_TM":    "최심 적설 시각 (시분)",
    "TE_05":        "0.5m 지중온도 (C)",
    "TE_10":        "1.0m 지중온도 (C)",
    "TE_15":        "1.5m 지중온도 (C)",
    "TE_30":        "3.0m 지중온도 (C)",
    "TE_50":        "5.0m 지중온도 (C)"
}

In [77]:
data_lines = []
for line in dataObject.text.splitlines():
    line = line.strip()
    if not line or line.startswith('#'):
        continue
    data_lines.append(line)

cleaned_text = "\n".join(data_lines)

df = pd.read_csv(
    StringIO(cleaned_text),
    sep=r"\s+",
    header=None
)

colname_values = list(colnames.values())
df.columns = colname_values[:df.shape[1]]

In [79]:
df.columns

Index(['관측일 (KST)', '국내 지점번호', '일 평균 풍속 (m/s)', '일 풍정 (m)', '최대풍향',
       '최대풍속 (m/s)', '최대풍속 시각 (시분)', '최대순간풍향', '최대순간풍속 (m/s)',
       '최대순간풍속 시각 (시분)', '일 평균기온 (C)', '최고기온 (C)', '최고기온 시각 (시분)', '최저기온 (C)',
       '최저기온 시각 (시분)', '일 평균 이슬점온도 (C)', '일 평균 지면온도 (C)', '일 최저 초상온도 (C)',
       '일 평균 상대습도 (%)', '최저습도 (%)', '최저습도 시각 (시분)', '일 평균 수증기압 (hPa)',
       '소형 증발량 (mm)', '대형 증발량 (mm)', '안개 계속시간 (hr)', '일 평균 현지기압 (hPa)',
       '일 평균 해면기압 (hPa)', '최고 해면기압 (hPa)', '최고 해면기압 시각 (시분)', '최저 해면기압 (hPa)',
       '최저 해면기압 시각 (시분)', '일 평균 전운량 (1/10)', '일조합 (hr)', '가조시간 (hr)',
       '캄벨 일조 (hr)', '일사합 (MJ/m2)', '최대 1시간일사 (MJ/m2)', '최대 1시간일사 시각 (시분)',
       '일 강수량 (mm)', '9-9 강수량 (mm)', '강수 계속시간 (hr)', '1시간 최다강수량 (mm)',
       '1시간 최다강수량 시각 (시분)', '10분간 최다강수량 (mm)', '10분간 최다강수량 시각 (시분)',
       '최대 강우강도 (mm/h)', '최대 강우강도 시각 (시분)', '최심 신적설 (cm)', '최심 신적설 시각 (시분)',
       '최심 적설 (cm)', '최심 적설 시각 (시분)', '0.5m 지중온도 (C)', '1.0m 지중온도 (C)',
       '1.5m 지중온도 (C)', '3.0m 지중온도 (C)', '5.0m 지중온도 (C)'],
      dtype='object')

In [83]:
df.loc[df['국내 지점번호'] == 108, '국내 지점번호'] = "Seoul"

C:\Users\ehdrb\AppData\Local\Temp\ipykernel_19980\2192157881.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Seoul' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['국내 지점번호'] == 108, '국내 지점번호'] = "Seoul"

In [84]:
df[['관측일 (KST)', '일 강수량 (mm)', '일 평균 상대습도 (%)', '최저기온 시각 (시분)', '국내 지점번호']]

    관측일 (KST)  일 강수량 (mm)  일 평균 상대습도 (%)  최저기온 시각 (시분) 국내 지점번호
0    20250101        -9.0           64.3           441   Seoul
1    20250102        -9.0           48.8           804   Seoul
2    20250103         0.0           52.0           522   Seoul
3    20250104        -9.0           49.6           752   Seoul
4    20250105         6.7           85.0           109   Seoul
..        ...         ...            ...           ...     ...
62   20250304         4.0           68.3          1018   Seoul
63   20250305         0.0           63.3           707   Seoul
64   20250306        -9.0           55.1           721   Seoul
65   20250307        -9.0           49.3           706   Seoul
66   20250308        -9.0           55.0           732   Seoul

[67 rows x 5 columns]